@model FornecedorViewModel

<div class="form-group jquery-pessoa-juridica hidden">
    <hr />
    <label class="col-lg-2 control-label" asp-for="Titular">Titular</label>
    <div class="col-lg-6">
        <input asp-for="Titular"
               type="text"
               placeholder="Titular"
               class="form-control"
               maxlength="255" />
    </div>
    <label class="col-lg-2 control-label" asp-for="Fundacao">Fundação</label>
    <div class="col-lg-2">
        <div class="input-group date" data-provide="datepicker">
            <input asp-for="Fundacao"
                   type="text"
                   placeholder="Fundacao"
                   class="form-control"
                   maxlength="10" />
            <div class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </div>
        </div>
    </div>
</div>
<div class="form-group jquery-pessoa-juridica hidden">
    <label asp-for="Cnpj" class="col-lg-2 control-label">CNPJ</label>
    <div class="col-lg-2">
        <input asp-for="Cnpj"
               type="text"
               placeholder="CNPJ"
               class="form-control"
               maxlength="18"
               data-mask="00.000.000/0000-00"
               data-val="true"
               data-val-required="Obrigatório" />
    </div>
    <label asp-for="InscricaoEstadual" class="col-lg-2 control-label">Inscrição Estadual</label>
    <div class="col-lg-2">
        <input asp-for="InscricaoEstadual"
               type="text"
               placeholder="Inscrição Estadual"
               class="form-control"
               maxlength="20" />
    </div>
    <label class="col-lg-2 control-label" asp-for="InscricaoMunicipal">Inscrição Municipal</label>
    <div class="col-lg-2">
        <input asp-for="InscricaoMunicipal"
               type="text"
               placeholder="Inscrição Municipal"
               class="form-control"
               maxlength="20" />
    </div>
</div>
