@font-face {
    font-family: 'FiveSys';
    src: url('../font/font.otf') format('opentype');
}

/*Login*/
.logo {
    margin: 0 auto;
    margin-top: 10%;
    font-size: 85px;
    font-family: FiveSys;
}

/*Inspinia*/
.ibox-tools a.btn {
    color: #fff;
}

.logo-element {
    font-family: FiveSys;
}

/*Boostrap*/
.form-control:focus,
.single-line:focus {
    border-color: #ecba52;
}

.form-horizontal .control-label {
    padding-top: 0px;
}

/* Select2 custom styles */
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    border-color: #e7eaec;
    font-size: 14px;
    height: 34px;
    padding: 3px 7px;
}

.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #ecba52;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f7a54a;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #e7eaec;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 4px;
}

.select2-dropdown {
    border-color: #e7eaec;
}

    .select2-dropdown input:focus {
        outline: none;
    }

.select2-selection {
    outline: none;
}


.field-validation-error {
    color: #ed5565;
    font-size: 0.7em;
    display: block;
}

.input-validation-error,
.input-validation-error:focus {
    border-color: #ed5565!important;
}

.jquery-campos-emails hr,
.jquery-campos-enderecos hr,
.jquery-campos-telefones hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

